/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    padding: 80px 20px;
    min-height: 50vh;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Sticky Navigation Bar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #37b6dd;
    text-align: right;
    z-index: 1000;
    padding: 10px 5px;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
    color: #ffb3b3;
}

/* Section Styles */
#about {
    background-color: #f4f4f4;
}

#projects {
    background-color: #eaeaea;
}

#skills {
    background-color: #d4d4d4;
}

#contact {
    background-color: #ccc;
}

/* Contact Form Styles */
form {
    max-width: 600px;
    margin: 0 auto;
}

label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color:#37b6dd;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #010708;
}
.skill {
    margin-bottom: 20px;
}

.skill h3 {
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

.progress {
    background-color:#37b6dd;
    height: 100%;
    transition: width 0.5s ease;
}